/target
thinking.md
Session.vim
heaprack**
.gdb**
*heaptrack*
*.data
/src/bin/test.rs
dhat-heap.json
/.cargo/**
.bacon-locations
/logs
gauntlet/engines/**
gauntlet/results/**
.envrc
.direnv
config.json
flamegraph.svg
stacks.folded
big_book.*
